<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{site.title}} | {{title}}</title>
	<link rel="stylesheet" href="{{site.root}}static/bootstrap/css/bootstrap.min.css">
</head>

<body>
	<nav class="navbar navbar-expand-md bg-body-tertiary mb-4">
		<div class="container">
			<a class="navbar-brand" href="{{site.root}}">RFC/SRD</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
				aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					{{#each nav}}
					{{#if page}}
					<li class="nav-item">
						<a class="nav-link" href="{{../site.root}}{{href}}">{{title}}</a>
					</li>
					{{/if}}
					{{#if dropdown}}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
							aria-expanded="false">{{title}}</a>
						<ul class="dropdown-menu">
							{{#each pages}}

							<li><a class="dropdown-item" href="{{../../site.root}}{{href}}">{{title}}</a></li>


							{{/each}}
						</ul>
					</li>
					{{/if}}
					{{/each}}
					{{!-- <li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" aria-disabled="true">Disabled</a>
					</li> --}}
				</ul>
				{{!-- <form class="d-flex" role="search">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form> --}}
			</div>
		</div>
	</nav>


	<div class="container">
		<h2>{{title}}</h2>
		{{#if page.date}}<p><i>{{page.date}}</i></p>{{/if}}
		{{{body}}}
		<p>Category: {{#each page.tags}} <a href="{{../site.root}}tags/{{this}}">{{this}}</a> {{/each}}</p>
		<p>Tags: {{#each page.category}} <a href="{{../site.root}}category/{{this}}">{{this}}</a> {{/each}}</p>
	</div>

	<script type="text/javascript" src="{{site.root}}static/jquery/jquery.js"></script>
	<script type="text/javascript" src="{{site.root}}static/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>